/*Todo CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*# Generics */

body {
    font-family: 'Whitney Semibold', sans-serif;
    color: #23272A;
}

main section {
    padding: 100px;
}

nav {
    padding: 20px;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 55px;
    font-weight: bolder;
    padding: 10px;
    margin: 10px 0;
}

h2 {
    font-size: 48px;
    font-weight: bolder;
    margin: 10px 0;
    padding: 10px;
}

h3 {
    font-size: 32px;
    font-weight: bolder;
    margin: 10px 0;
    padding: 30px 0 10px 0;
}

p {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    padding: 10px;
}

select {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
}

ul {
    list-style: none;
    margin: 45px 0;
    color: #fff;
}

ul>li:first-child {
    color: #8EA1E1;
}

/*# Utils */

.border {
    border: 1px dashed black;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: space-around;
    flex-shrink: 0;
    flex-grow: 1;
}

.small-box {
    flex-basis: 30%;
    padding: 15px;

}

.big-box {
    flex-basis: 70%;
    min-height: 450px;
    text-align: center;
    padding: 15px;
}

.xxl-box {
    flex-basis: 100%;
    min-height: 700px;
    text-align: center;
    padding: 50px;
}

/*# Button */

.btn {
    min-height: 35px;
    min-width: 70px;
    border-radius: 20px;
    background-color: #fff;
    border: 1px solid #fff;
    color: #4c4c4c;
    font-size: 14px;
    font-weight: 500;
    padding: 5px 15px;
    text-align: center;
    cursor: pointer;
}

.btn.download,
.btn.browser,
.btn.special {
    font-size: 16px;
    font-weight: 500;
    padding: 15px 25px;
    border-radius: 30px;
    margin: 10px;
}

.btn.browser {
    color: #fff;
    background-color: #23272A;
    border: 1px solid #23272A;
}

.btn.special {
    color: #F6F6F6;
    background-color: #8EA1E1;
    border-color: #8EA1E1;
}

.btn-signin {
    color: #fff;
    background-color: #8EA1E1;
    border: 1px solid #8EA1E1;
    padding: 5px;
    font-weight: 500;
    border-radius: 20px;
    width: 80px;
    height: 30px;
    text-align: center;
    cursor: pointer;
}

/** header */

header {
    background-color: #3161E0;
    color: #fff;
}

.box-link,
.box-login {
    text-align: center;
    line-height: 40px;
}

.box-logo,
.box-login {
    flex-basis: 20%;
}

.box-link {
    flex-basis: 60%;
    justify-content: center;
    gap: 30px;
}

.box-logo>img {
    right: 40px;
    height: 40px;
    margin-left: 10px;
}

#download {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
    padding-bottom: 40px;
}

.main-header {
    max-width: 850px;
    margin: 0 auto;
    padding: 60px;
    text-align: center;
}


/** main */

main section:nth-child(2n+0) {
    background-color: #F6F6F6;
}

#server,
#community {
    padding-right: 150px;
}

#canali {
    padding-left: 150px;
}

.xxl-box>p {
    padding: 0 80px 20px 80px;
}

.star {
    height: 100px;
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    padding-top: 20px;
}

/** footer */

footer {
    background-color: #23272A;
}

.adress {
    flex-basis: 30%;
    padding-right: 60px;
}

.adress img {
    height: 14px;
    vertical-align: middle;
}

.social {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    padding: 20px 0;
    color: #fff;
}

footer h3 {
    color: #8EA1E1;
}

.deck {
    display: flex;
    flex-basis: 70%;
}

.card {
    flex-basis: 25%;
    line-height: 30px;
    padding: 0 20px;
}

.container-special {
    max-width: 1200px;
    min-height: 70px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

#contacts {
    max-width: 1200px;
    border-bottom: 1px solid #8EA1E1;
    padding-top: 40px;
    display: flex;
}

#signin {
    margin-top: 20px;
    padding-bottom: 100px;
}

#signin a {
    font-size: 13px;
}